// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

body {
  width: 100%;
  height: auto !important;
  height: 100%;
 	text-align: center;
	vertical-align: center;
 font-family: 'Droid Sans', sans-serif;
 background: black;
}

.content {
	padding: 80px;
	font-family: 'Fjalla One', sans-serif;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -150px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.content h1{
	font-size: 70px !important;
	color: white !important;
}
.content h2 {
	font-size: 55px !important;
	color: white !important;
}

